<h1>Listing test_teams</h1>

<table>
  <tr>
    <th>Team</th>
    <th>Test</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_teams.each do |test_team| %>
  <tr>
    <td><%= test_team.team_id %></td>
    <td><%= test_team.test_id %></td>
    <td><%= link_to 'Show', test_team %></td>
    <td><%= link_to 'Edit', edit_test_team_path(test_team) %></td>
    <td><%= link_to 'Destroy', test_team, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test team', new_test_team_path %>
