<h1>Listing teams_tests</h1>

<table>
  <tr>
    <th>Team</th>
    <th>Test</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams_tests.each do |teams_test| %>
  <tr>
    <td><%= teams_test.team_id %></td>
    <td><%= teams_test.test_id %></td>
    <td><%= link_to 'Show', teams_test %></td>
    <td><%= link_to 'Edit', edit_teams_test_path(teams_test) %></td>
    <td><%= link_to 'Destroy', teams_test, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teams test', new_teams_test_path %>
