<%= form_for @document_set do |f| %>


<% if @document_set.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@document_set.errors.count, "error") %> prohibited this document_setfrom being saved:</h2>

          <ul>
            <% @document_set.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>



<table class="condensed-table">
      <tr>
        <td><%= f.label :name %></td>

        <td><%= f.text_field :name %></td>
            
      </tr>


</table>
<br>
<br>

<%= f.submit "Submit" ,:style=>"margin:auto",:class=>"btn primary large"%>

<% end %>