<h1>Listing team_tests</h1>

<table>
  <tr>
    <th>Test</th>
    <th>Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @team_tests.each do |team_test| %>
  <tr>
    <td><%= team_test.test_id %></td>
    <td><%= team_test.team_id %></td>
    <td><%= link_to 'Show', team_test %></td>
    <td><%= link_to 'Edit', edit_team_test_path(team_test) %></td>
    <td><%= link_to 'Destroy', team_test, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team test', new_team_test_path %>
