<%= content_for :head do %>

    <script type="text/javascript">

        $(function() {
            $(".option_image").click(function(event) {

                //if the image is marked correct..mark it incorrect
                if ($(this).attr("class").search("success") != -1) {
                    $(this).addClass("error");
                    $(this).removeClass("success");
                    $("."+$(this).attr("id")).attr("value",1);

                }

                //if the image is incorrect...mark is correct
                else {
                    $(this).addClass("success");
                    $(this).removeClass("error");
                    $("."+$(this).attr("id")).attr("value",0);
                }


            });

        });

    </script>

    <style type="text/css">
        .content {
            background: transparent;
        }

        .page-header {
            background: transparent;
            position: fixed;
            left: 25px;
            border: none;
        }

        .docuframe {
            width: 800px;
            height: 1080px;
            margin: 0px auto;
            padding: 0px;
            background-image: url("<%= @document.blank_form.url %>");
            background-repeat: no-repeat;
        }

        .component_icon {
            cursor: pointer;
        }

        .selected_icon {
            margin-left: 30px;
        }

        .selectiondiv {
            position: absolute;
            zIndex: 5000;
        }
    </style>

<% end %>



<div class="row" style="text-align: center; background: transparent">
  <div id="DocumentFrame" class="docuframe">
  </div>

  <% @test_doc_infos.each do |test_doc_info| %>

      <% blank_section=BlankSection.find(test_doc_info.blank_section_id) %>
      <%= image_tag Example.find(test_doc_info.example_id).content.url, :id=>test_doc_info.id,:class=>"success btn option_image", :style => "
          position :absolute;
          z-index:5000;
          top :#{blank_section.ypos  }px;
          left: #{blank_section.xpos}px;
          width: #{blank_section.width} px;
          height:#{blank_section.height }px;
          "
      %>
  <% end %>
</div>

<%= form_tag :action => 'save_results' %>
<% @test_doc_infos.each do |test_info_doc| %>
    <%= hidden_field_tag test_info_doc.id, 0 ,:class=>test_info_doc.id%>

<% end %>
<%= hidden_field_tag :test_doc_id ,@test_doc.id%>
<div style="position:fixed; color:white;font-weight: bold;margin-top: 20px;top:50px;left:30px;height: 50px">
  <%= image_submit_tag('submit_button.jpeg', :size=>'50x40', :class=>"primary btn", :id=>"save_button") %>
  <br/>
  <br/>
</div>
